$font-nunito : "Nunito" , cursive;
$font-playfair : "Playfair" , cursive;
$font-serif : "Serif" , cursive;
$color-purp: #9304cc;
$color-green : #71eca8;
$color-pink: #ee8b6c; 
$color-black: #000000; 
