/* Color Classes  */
.color-purp{
    color: $color-purp;
}

.color-purp-bg{
    background: $color-purp;
}

.color-green{
    color: $color-green;
}

.color-green-bg{
    background: $color-green;
}

.color-pink{
    color: $color-pink;
}

.color-pink-bg{
    background: $color-pink;
}

.color-black{
    color: $color-black;
}

.color-black-bg{
    background: $color-black;
}